<html ng-app="chat">
  <head>
    <title>Chat</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"></link>
  </head>
  <body ng-controller="MainCtrl">
    <div class="jumbotron">
      <h1>Chat</h1>
    </div>
    <ul>
      <li ng-repeat="m in messages track by $index "> {{ m }} </li>
    </ul>
    <form ng-submit="send()">
    <input type="text" placeholder="type here" ng-model="msg">
    <button class="btn btn-primary">Send</button>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <script src='/js/chat.js'> </script>
  </body>
</html>
